@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-duration: 300ms;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;
}

html {
  scroll-behavior: smooth;
}
